* {
    margin: 0;
    padding: 0;
    font-size: "sans";
}
body {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header {
    background-color: #fff;
    padding: 1rem 2rem;
    font-weight: 600;
    color: rgba(0,0,0,0.8);
    font-size: 1.2em;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}
.form-container {
    padding: 1rem;
    background-color: rgba(255,255,255,0.9);
    border-radius: 0.5rem;
    text-align: center;
}
h1 {
    margin-bottom: 0.5rem;
}
small {
    display: block;
    margin-bottom: 2rem;
}
.tuslar {
    margin-top: 1rem;
}
button {
    background-color: #c31432;
    color: #fff;
    padding: 0.5rem 2rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
}
#dosya {
    display: none;
}

a {
    text-decoration: none;
    color: #c31432;
}
.bilgi {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.4);
    font-weight: 600;
    font-size: 1.5em;
    color: red;
    margin-bottom: 1rem;
}